@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");



*{
    box-sizing: border-box;
    margin: 0;
}


main{
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}

section{
    padding-top: 100px;
    height: auto;
}


.btns button {
    background-color: #0f172a;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    height: 2.5rem;
    padding: 20px;
    transition: all .1s ease-in;
    width: 2.5rem;
  }

  .btns button:nth-child(1){
    margin-right: 8px;
  }

  .row-container {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 2rem;
    position: relative;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: inherit;
  }

  .tracking h1::after{
    content: "";
    display: block;
    height: 1.2px;
    width: auto;
    background-color: black;
  }


 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    section{
        padding-top: 50px;
        padding-bottom: 45%;
    }

    .carousel img{
        height: 450px;
    }
}

 /* Media Query for low resolution  Tablets, Ipads */
 @media (min-width: 481px) and (max-width: 769px) {
    section{
        padding-top: 50px;
        padding-bottom: 35%;
    }
 }

 @media (min-width: 769px){
    section{
        padding-bottom: 10%;
    }
}
  
/* Home Page Button Images */

#buttonOne,#buttonTwo,#buttonThree, #buttonFour,#buttonFive,#buttonSix{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#buttonOne{
    background-image: url("https://obakki.com/cdn/shop/products/obakki-mens-basic-t-shirt-clothing-691041_1024x.jpg?v=1643662448");
}

#buttonTwo{
    background-image: url("https://i5.walmartimages.com/asr/cf3ceeba-d337-4a50-af2b-986ada9e0439.2adb39e86ae8a458b2d2945dd1c9ac63.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF");
}

#buttonThree{
    background-image: url("https://media.sportisgood.com/catalog/product/cache/image/1800x/9df78eab33525d08d6e5fb8d27136e95/n/u/nudie-jeans_114197_bleu_1.jpg");
}

#buttonFour{
    background-image: url("https://norwoodshop.ca/cdn/shop/products/brixton-choice-chino-short-khaki-04215-2.jpg?v=1658460854");
}

#buttonFive{
    background-image: url("https://m.media-amazon.com/images/I/61srcRgtPdL._AC_UY1000_.jpg");
}

#buttonSix{
    background-image: url("https://m.media-amazon.com/images/I/61WuMqZ645L.jpg");
}

#modalOverlay{
    background-color: rgba( 0, 0, 0, .7);
    
}

.robotModal{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, .7);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.robotModal span::before{
    content:"";
    position: absolute;
    left: 0;
    display: block;
    height: 1.2px;
    width: 100%;
    background-color: #0f172a;
}