@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

main{
    overflow-x: hidden;
}

section{
    padding-top: 100px;
}
/* Home Page Button Images */

#buttonOne,#buttonTwo,#buttonThree, #buttonFour,#buttonFive,#buttonSix{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#buttonOne{
    background-image: url("https://obakki.com/cdn/shop/products/obakki-mens-basic-t-shirt-clothing-691041_1024x.jpg?v=1643662448");
}

#buttonTwo{
    background-image: url("https://i5.walmartimages.com/asr/cf3ceeba-d337-4a50-af2b-986ada9e0439.2adb39e86ae8a458b2d2945dd1c9ac63.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF");
}

#buttonThree{
    background-image: url("https://media.sportisgood.com/catalog/product/cache/image/1800x/9df78eab33525d08d6e5fb8d27136e95/n/u/nudie-jeans_114197_bleu_1.jpg");
}

#buttonFour{
    background-image: url("https://norwoodshop.ca/cdn/shop/products/brixton-choice-chino-short-khaki-04215-2.jpg?v=1658460854");
}

#buttonFive{
    background-image: url("https://m.media-amazon.com/images/I/61srcRgtPdL._AC_UY1000_.jpg");
}

#buttonSix{
    background-image: url("https://m.media-amazon.com/images/I/61WuMqZ645L.jpg");
}
